<!--alternate version of detail.html. Using repo from django-polls as a guide.-->
<h1>{{ game.game_name }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'organizer:results' game.id %}" method="post">
	{% csrf_token %}
	{% for review in game.review_set.all %}
		<input type="radio" name="review" id="review{{ forloop.counter }}" value="{{ review.id }}">
		<label for="review{{ forloop.counter }}">{{ review.review_text }}</label><br>
	{% endfor %}
	<input type="submit" value="Review">
</form>